// Specific CSS for your home-page
.container-fluid {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 60px;
  padding-bottom: 20px;
}

h1{
  font-size: 75px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h4{
  font-weight: bold;
}

.hero-statement{
  margin-top: 50px;
  margin-bottom: 60px;
  padding-right: 50px;
}

.container-dorothy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
}

.container-dorothy img {
  height: 100%;
}

.features-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: $verydarkblue;
}

.features-boxs {
  flex-basis: calc(33.33% - 20px);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  background-color: white;

}

.feature-box:last-child {
  margin-right: 0;
}

.card-product {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
 

.chaincare {
  margin-bottom: 20px; 
  text-align: center;
}

.support-agent {
  background-image: asset_url("AdobeStock_494817999.jpeg");
  background-size: cover;
  width: 50%;
  height: auto;
  border: 2px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-right: 50px;
  align-items: flex-end;
  overflow: hidden;
  display: block;
}

.features{
  margin-bottom: 120px;
  margin-top: 140px;
}
.mini-statement{
  margin-top: 50px;
}

body{
  background-color: $light-gray;
}



