.navbar {
  background-color: $verydarkblue;
  color: $primary;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-bottom: 0px;
  width: 100vw;
  padding-left: 5px;
  padding-right: 5px;
  position:relative;
}

.navbar button.navbar-toggler span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  --bs-navbar-toggler-border-color: white;
}

.nav-item .nav-link {
  color: $white;
}

.navbar-nav .nav-link {
  color: $white;
  margin-right: 16px;
}

.navbar-nav .nav-link:hover {
  color: $gray;
}

.navbar-toggler-icon {
  color: $white;
}

.navbar-collapse {
  flex-grow: 0;
}

.logo-image {
  width: 80px;
  border-radius: 4px;
}

.navbar-lewagon {
  justify-content: space-around;
  background: white;
}
