<h1> Hi <%= @ticket.client_email.split("@")[0] %>,</h1>

<p>
  Here is the url to your support help desk chatroom:

  <a href="<%= "https://www.chaincare.tech/chatrooms/#{@ticket.chatroom.id}" %>">Take me to a support agent</a>
</p>
