<h1> Hi <%= @ticket.client_email.split("@")[0] %>,</h1>

<p>
  Here is the url to your chaincare chatroom:

  <a href="<%= "https://www.chaincare.tech/chatrooms/#{@ticket.chatroom.secret_url}" %>">Take me back to a support agent</a>

</p>
<br>
<br>
<p>

  Let us know if you need more help, we're here for you 24/7.

  Best,

  The Chaincare Team
</p>
