<div class="container-fluid">
  <h2>My Account</h2>
  <p>First Name: <%= @user.first_name %></p>
  <p>Last Name: <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
  <%= link_to 'Edit Account Info', edit_user_registration_path, class: 'btn btn-primary' %>
</div>
