.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  margin: auto;
  background-color: #1a1d40;
  /* Paua background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 15px;
  /* Rounded borders */
  padding: 5px 10px;
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 10%;
  /* Bring the snackbar closer to exodude*/
  right: 60%;
  top: 20px;
}

#snackbar:after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  top: 20%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color:  #1a1d40;
  border-left: 0;
  border-top: 0;
  margin-top: -3px;
  margin-left: -8px;
  transform: rotate(-23deg);
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.showMulti {
  visibility: visible;
  cursor: pointer;
  right: 15px;
  top: 13px;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadeinMulti 0.5s;
  animation: fadeinMulti 0.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadeinMulti {
  from {
      top: 0;
      opacity: 0;
  }

  to {
      top: 13px;
      opacity: 1;
  }
}

@keyframes fadeinMulti {
  from {
      top: 0;
      opacity: 0;
  }

  to {
      top: 13px;
      opacity: 1;
  }
}


@-webkit-keyframes fadein {
  from {
      top: 0;
      opacity: 0;
  }

  to {
      top: 20px;
      opacity: 1;
  }
}

@keyframes fadein {
  from {
      top: 0;
      opacity: 0;
  }

  to {
      top: 20px;
      opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
      top: 20px;
      opacity: 1;
  }

  to {
      top: 0;
      opacity: 0;
  }
}

@keyframes fadeout {
  from {
      top: 20px;
      opacity: 1;
  }

  to {
      top: 0;
      opacity: 0;
  }
}
