.client-messages-display {
  background-color: $light-gray;
  padding: 10px;
  border-radius: 8px;
}

.agent-messages-display {
  background-color: $lightblue;
  padding: 10px;
  border-radius: 8px;
  margin-left: 32px;
}

.message {
  background-color: $white;
  border-radius: 8px;
  padding: 10px;
}

.message-meta {
  color: #999999;
  font-size: 12px;
}

.message-content {
  margin-top: 5px;
}
