
  .table-hover tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .block {
    width: 200px;
    height: 300px;
    background-color:#dedede;
    position:relative;
    padding: 20px;
  }
  
  .block .veneer {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
  }
  .block .veneer:hover {
    background-color: #efefef;
  }
  
  .block .inner {
    position:relative;
    pointer-events: none;
    z-index: 1;
  }
  
  .block .inner a {
    pointer-events: all;
    position:relative;
  }
  
  a:hover {
    color: green;
  }