.ticketcontainer {
  // display: flex;
  width: 100vw;
  // padding-left: 40%;
  justify-content: center;
  margin: auto;
}


.ticket-table-container {
  background-color: $light-gray;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-top: 24px;
  border-radius: 16px;

}
