.vertical-navbar{
  justify-content: space-between;
  background-color: $verydarkblue;
  height: 100vh !important;
  width: 100px;
  position: fixed;
  top: 0;
  .nav-link {
    padding-left: 0;
  }
  margin-right: 20px;
}

.vertical-navbar .navbar-collapse {
  flex-grow: 0;
}
