.vertical-navbar{
  justify-content: space-between;
  background-color: $verydarkblue;
  height: 100vh !important;
  width: 100px;
  position: fixed;
  top: 0;
  .nav-link {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
  }
  margin-right: 20px;
}

.vertical-navbar .navbar-collapse {
  flex-grow: 0;
}
