// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/navbar";

.moved {
  margin-left: 100px;
}

body {
  color: $verydarkblue;
}

tbody > * > * {
  color: $verydarkblue !important;
}

.card-body {
  color: $verydarkblue !important;
}

.pagination > span {
  padding: 6px;
}

.pagination span.current.current {
  font-weight: bolder;
}

.pagination > span > a {
  text-decoration: none;
}

.pages-list {
  display: flex;
  justify-content: flex-end;
}

.table th .current {
  padding-right: 12px;
  color: $lightblue;
}

.table th > a {
  text-decoration: none;
}
